@import "antd/dist/antd.css";

#root {
  height: 100%;
}
/* Login Form Styling */

.auth_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth_form_wrapper {
  background-color: rgb(246, 250, 255);
  padding: 5%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.auth_form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.auth_input {
  width: 250px;
  margin: 5px 0px;
}

.auth_btn {
  width: 100px;
  margin-top: 5px;
}

.auth_radio_btn {
  margin-bottom: 10px;
}

.text-danger {
  color: red;
}
